.banner{
    height: 500px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: rgb(45, 221, 169);
}


.t2 {
    display: flex;
    position: absolute;
    bottom: 0;
    

}

.t3 {
    width: 23%;
    background-color: black;
    color:white ;
    border: 1px solid red;
    border-top: none;
    margin: 20px;
    text-shadow: 2px 2px 4px #f94242;
}
p{
    
    padding: 5px;
    
    
}

.t4 {
    width: 23%;
    background-color: black;
    color:white ;
    border: 1px solid red;
    border-top: none;
    margin: 20px;
    text-shadow: 2px 2px 4px #f94242;
}

.t5 {
    background-color: black;
    color:white ;
    text-shadow: 2px 2px 4px #f94242;
    width: 23%;
    border: 1px solid red;
    border-top: none;
    margin: 20px;
    
}
.Grapes{

margin-left: 100px;
color: white;

}
.Grapes:hover{
    color:red;
    cursor: pointer;
    transition: 0.5s;
    
}
.t6{
    background-color: black;
    color:white ;
    margin: 20px;
    width: 23%;
    border: 1px solid red;
    border-top: none;
    text-shadow: 2px 2px 4px #f94242;
}
.one{
    background-image: url(fruite-item-2.jpg);
     height: 400px;
    float: left;
    width: 23%;
    margin: 20px;
}

.four {
    background-image: url(hero-img-1.png);
    height: 400px;
    float: left;
    width: 23%;
    margin: 20px;
}



.two {
    height: 400px;
    margin: 20px;
    background-image: url(fruite-item-3.jpg);
    float: left;
    width: 23%;
}



.three {
    height: 400px;
    background-image: url(fruite-item-5.jpg);
    float: left;
    width: 23%;
    margin: 20px;
}

